<h1>Hva kan vi hjelpe deg med?</h1>
<p>
  Netthandel er i ferd med å utkonkurrere butikkene på service. De 3 vinnerne i Posten og Brings kåring av Norges beste nettbutikker, har alle forstått hva god service innebærer.
</p>

<p style="font-size:16px;">
  I STARTFASEN: Anine Neergaard og John Petter Ytreeide i Shavecare.no ble Årets nykommer. Foto: Birger Morken, Posten Norge.
</p>
<p>
  INNOVATIV: Joakim Dymling fra Tretti.no kunne hente Årets innovasjonspris. Foto: Birger Morken, Posten Norge.
  Clasohlson.no stakk av med tittelen Årets nettbutikk, Tretti.no med Årets innovasjonspris, og Shavecare.no ble Årets nykommer. Kåringen skjedde under logistikk- og netthandelsdagen Load tirsdag 18. september.
</p>
<p>
– Alle de tre vinnerne viser at de tar kundens behov på alvor, og gjør hverdagen enklere, sier konserndirektør Tore K. Nilsen i Posten Norge.
</p>
<p>
Det beste eksemplet er Clasohlson.no, som tok den gjeveste av de tre prisene.
</p>
<p>
Nyttig
– I nettbutikken har Clas Ohlson klart å overføre sin ekspertise på nyttige hverdagsprodukter siden 1918 over i det digitale århundret. Nettbutikken strømmer over av smarte dingser, og den er gjennomført profesjonell med et ryddig og rikt vareutvalg, sier Tore K. Nilsen.
</p>
<p>
Nettbutikken stilte med tre etterhvert meget fornøyde representanter under prisutdelingen. De lovet at butikken skal bli enda bedre:
</p>
<p>
– Vi har jobbet hardt et par år for å få en god nettbutikk, men dette er bare begynnelsen. Jeg kan love at mye skal skje hos oss, sa Alf Jondahl fra Clasohlson.no.
</p>
<p>
Han kunne forøvrig fortelle at hans favorittdings i nettbutikken er en laptopnedkjøler. Kollega Roy Larsen har en halogenpærefjerner som favoritt. Det svenske innslaget i trioen, Jonas Nystrøm, er spesielt glad i en trebladet saks som gjør at det er enklere å klippe urter som du for eksempel kjøper i dagligvarebutikken eller henter fra din egen hage. 
</p>
<p>
Også Tretti.no, som ble Årets innovatør, har tatt kundeservice til et nytt nivå. Selskapet har utviklet en søkegenerator som elegant filtrerer produktpreferanser i seks beslutningskategorier. Ut fra beslutningskategorier som miljøhensyn, materiale, farge og størrelse har kundene på kort tid et så tydelig bilde av sine favoritter at kjøleskapet nesten oppleves som installert.
</p>
<p>
Shavecare.no er en god nykommer med et konsept som gir menn en plass i et mylder av kvinneprodukter på nettet.
</p>
